.example-full-width {
    width: 100%;
  }

  .example-viewport {
    height: 500px;
    width: 700px;

    border: 1px  rgb(141, 141, 141);
  }
  
  .example-dt {
    height: 70px;
    font-weight: bold;
  }
  
  .example-dd {
    height: 30px;
  }