<table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          color="primary">
            </mat-checkbox>
        </th>
        <td *matCellDef="let row" class="w-4" mat-cell>
            <mat-checkbox (change)="onChangeRow($event,row)"
                          (click)="$event.stopPropagation()"
                          [checked]="isSelected(row)"
                          color="primary">
            </mat-checkbox>
        </td>
    </ng-container>



    <!-- Contact Column -->
    <ng-container matColumnDef="contact">
        <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
        <td *matCellDef="let row" mat-cell>
            <div class="flex">
                <a (click)="$event.stopPropagation()"
                   class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                   mat-icon-button>

                </a>

                <a (click)="$event.stopPropagation()"
                   class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal bg-teal-light"
                   mat-icon-button>

                </a>

                <a (click)="$event.stopPropagation()"
                   class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-green bg-green-light"
                   mat-icon-button>

                </a>
            </div>
        </td>
    </ng-container>

    <!-- Label Column -->
    <ng-container matColumnDef="labels">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Labels</th>
        <td *matCellDef="let row" mat-cell>
            <div (click)="$event.stopPropagation()" fxLayoutAlign="start center" fxLayoutGap="4px">
                <div *ngFor="let label of row.labels"
                     [ngClass]="[label.textClass, label.bgClass]"
                     class="rounded px-2 py-1 font-medium text-xs"
                     fxFlex="none">
                    {{ label.text }}
                </div>
                <div (click)="labelSelect.open()"
                     class="text-secondary bg-base text-hint cursor-pointer hover:bg-hover"
                     fxFlex="none"
                     fxLayout="row"
                     fxLayoutAlign="center center">

                </div>
                <mat-select #labelSelect="matSelect"
                            (selectionChange)="onLabelChange($event, row)"
                            [value]="row.labels"
                            class="invisible w-0 h-0 text-sm"
                            fxFlex="0 1 0px"
                            multiple>
                    <mat-option *ngFor="let label of labels" [value]="label">
                        <div [ngClass]="label.previewClass"
                             class="h-6 w-6 align-middle ltr:mr-2 rtl:ml-2 rounded inline-block"></div>
                        <span>{{ label.text }}</span>
                    </mat-option>
                </mat-select>
            </div>
        </td>
    </ng-container>

    <!-- Text Column -->
    <ng-container *ngFor="let column of columns">
        <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{column.label}}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                <p >
                    {{row[column.property]}}
                </p>

            </td>
        </ng-container>
    </ng-container>


    <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
    <tr
            *matRowDef="let row; columns: visibleColumns;"
            @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer"
            mat-row></tr>
</table>
<mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
</mat-paginator>
<button color="primary" mat-raised-button class="font-bold rounded" (click)="confirm()">تأكيد </button> &nbsp;&nbsp;&nbsp;
<button color="danger" mat-raised-button class="font-bold rounded"  (click)="cancel()">إلغاء</button>

