.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
#control_wrapper {
  margin: 0 auto;
  max-width: 300px;
}

.control-section {
  margin: 25px auto;
}
#selected {
  height: 50px;
  width: 248px;
  display: block;
  font-weight: inherit;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.58);
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;

  .mat-table {
    width: 100%;
    max-width: 100%;
    display: table;
  }
}
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}