
<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo.svg">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">مرحبًا بعودتك</h2>
      <h4 class="body-2 text-secondary m-0">تسجيل الدخول ببيانات الاعتماد الخاصة بك أدناه.</h4>
    </div>

    <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>البريد الإلكتروني</mat-label>
          <input formControlName="email" matInput required>
          <mat-error *ngIf="form.get('email').hasError('required')">نحتاج إلى عنوان بريد إلكتروني لتسجيل دخولك</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>كلمة المرور</mat-label>
          <input [type]="inputType" formControlName="password" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>انقر فوق العين لتبديل الرؤية</mat-hint>
          <mat-error *ngIf="form.get('password').hasError('required')">نحتاج إلى كلمة مرور لتسجيل الدخول</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
      
        <a [routerLink]="['/forgot-password']" class="caption">هل نسيت كلمة السر؟</a>
      </div>

      <button (click)="login()"  color="primary" mat-raised-button type="button">
        تسجيل الدخول
      </button>

      <p class="text-secondary text-center">
        ليس لديك حساب؟<br/>
        <a [routerLink]="['/register']">انقر هنا لإنشاء واحد</a>
      </p>
    </div>
  </div>
</div>


